@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <div class="option">
                <a class="nav-link" href="Identity/Account/Manage">Witaj, @context.User.Identity.Name!</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="option">
                <a class="nav-link" href="/Identity/Account/Logout?returnUrl=%2F" method="post">Wyloguj</a>
            </div>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <div class="option">
                <a class="nav-link" href="Identity/Account/Register">Rejestracja</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="option">
                <a class="nav-link" href="Identity/Account/Login">Zaloguj</a>
            </div>
        </li>
    </NotAuthorized>
</AuthorizeView>
