@inherits LayoutComponentBase

<PageTitle>Kino</PageTitle>

<!--
<div class="page">
-->
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->
    <header>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="screeningrooms">Sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="managemovies">Baza filmów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="manageshowings">Seanse</a>
            </li>
         
        </ul>
    </header>
    
    <div class="content">
        @Body
    </div>

    <!--
        <main>


        <article class="content px-4">
            @Body
        </article>
    </main>
    -->
    
    <!--
</div>
-->
