@inherits LayoutComponentBase

@inject IViewMoviesUseCase ViewMoviesUseCase

<PageTitle>Kino</PageTitle>

<!--
<div class="page">
-->
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->
    <header>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <div class="option">
                    <a class="nav-link" href="#">Strona główna</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="option">
                    <a class="nav-link" href="screeningrooms">Sale</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="option">
                    <a class="nav-link" href="managemovies">Baza filmów</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="option">
                    <a class="nav-link" href="manageshowings">Seanse</a>
                </div>
            </li>
         
        </ul>
    </header>
    
    <div class="content">
        @Body
    </div>

@if(movies != null)
{
    @foreach(var movie in movies)
    {
        <p align=center><img src="@movie.ImageUrl" alt="@movie.Title" height="150"></p>
    }
}

 @code
 {
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadMovies();
    }

    private void LoadMovies()
    {
        movies = ViewMoviesUseCase.Execute()?.ToList();
    }
 }
    <!--
</div>
-->
