body 
{
    color: white;
    background-color: #202020;
}

header 
{
    background-color: black;
    height: 50px;
    padding-top: 5px;
    
    position: fixed; 
    top: 0; 
    width: 100%; 
}

header a
{
    color: white;
}

.table_row:nth-child(2n+1) 
{
    background-color: #1F1F1F;
}

.table_row:nth-child(2n) 
{
    background-color: #171717;
}

table, td, th
{
    color: white;
    text-align: center;
    vertical-align: middle;
    border-style: none;
}

thead, th
{
    background-color: black;
}

footer
{
    text-align: center;
    margin-top: 30px;
}

.content
{
    max-width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.option a
{
    color: white;
}

.option a:active
{
    background-color: #303030;
    color: white;
}

.option a:visited 
{
    background-color: #303030;
    color: white;
}

.option a:hover 
{
    background-color: #B70D2F;
    color: white;
}

.btn 
{
    background-color: #B70D2F;
    border-color: #B70D2F;
    color: white;
}

.btn:hover {
    background-color: #DC143C;
    border-color: #B70D2F;
    color: white;
}

.btn:active {
    background-color: #DC143C;
    border-color: #B70D2F;
    color: white;
}

.btn:focus
{
    background-color: #B70D2F;
    border-color: #B70D2F;
    box-shadow: none;
}

.screeningRoomTable
{
    margin-left: auto;
    margin-right: auto;
}

.screeningRoomRow
{
    height: 60px;
}

.screeningRoomSeat
{
    width: 60px;
}

.seat
{
    background-color: gray;
    height: 40px;
    width: 50px;
    border-color: black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
}

.seat:hover
{
    background-color: lightgray;
}

.seat_taken {
    background-color: #E21E13;
    height: 40px;
    width: 50px;
    border-color: black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
}