body 
{
    color: white;
    background-color: #202020;
}

header 
{
    background-color: black;
    height: 50px;
    padding-top: 5px;
    
    position: fixed; 
    top: 0; 
    width: 100%; 
}

header a
{
    color: white;
}

.table_row:nth-child(2n+1) 
{
    background-color: #1F1F1F;
}

.table_row:nth-child(2n) 
{
    background-color: #171717;
}

table, td, th
{
    color: white;
    text-align: center;
    vertical-align: middle;
    border-style: none;
}

thead, th
{
    background-color: black;
}

footer
{
    text-align: center;
    margin-top: 30px;
}

.content
{
    max-width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.option a
{
    color: white;
}

.option a:active
{
    background-color: #303030;
    color: white;
}

.option a:visited 
{
    background-color: #303030;
    color: white;
}

.option a:hover 
{
    background-color: #B70D2F;
    color: white;
}

.btn 
{
    background-color: #B70D2F;
    border-color: #B70D2F;
    color: white;
}

.btn:hover {
    background-color: #DC143C;
    border-color: #B70D2F;
    color: white;
}

.btn:active {
    background-color: #DC143C;
    border-color: #B70D2F;
    color: white;
}

.btn:focus
{
    background-color: #B70D2F;
    border-color: #B70D2F;
    box-shadow: none;
}

.screeningRoomTable
{
    margin-left: auto;
    margin-right: auto;
}

.screeningRoomRow
{
    height: 60px;
}

.screeningRoomSeat
{
    width: 60px;
}

.seat {
    background-color: gray;
    height: 40px;
    width: 50px;
    border-color: black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
    font-size: smaller;
}

    .seat:hover {
        background-color: lightgray;
    }

.seat_taken {
    background-color: #d55049;
    height: 40px;
    width: 50px;
    border-color: black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
    font-size: smaller;
}

    .seat_taken:hover {
        background-color: #E07B75;
        height: 40px;
        width: 50px;
        border-color: black;
        border-left-width: 10px;
        border-right-width: 10px;
        border-bottom-width: 10px;
        border-top-width: 0px;
        border-style: solid;
        border-radius: 0px 0px 20px 20px;
    }

.seat_marked {
    background-color: #42ae3d;
    height: 40px;
    width: 50px;
    border-color: black;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-width: 0px;
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
    font-size: smaller;
}

    .seat_marked:hover {
        background-color: #7BE075;
        height: 40px;
        width: 50px;
        border-color: black;
        border-left-width: 10px;
        border-right-width: 10px;
        border-bottom-width: 10px;
        border-top-width: 0px;
        border-style: solid;
        border-radius: 0px 0px 20px 20px;
    }

.movie {
    background-color: #101010;
    vertical-align: middle;
    margin: auto;
    width: 90%;
    max-height: 150px;
}

.showing {
    background-color: #101010;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    height: 50px;
    text-align: center;
}

.movie_title {
    display: table;
    margin: 0 auto;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}

.movie_desc {
    display: table;
    margin: 0 auto;
    vertical-align: bottom;
    text-align: left;
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
}

.age3_6 {
    background-color: green;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.age7_14 {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.age15_17 {
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.age18 {
    background-color: red;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.vertical_center {
    position: absolute;
    /*
    top: 50%;
    transform: translateY(-50%);
    */
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.main_page 
{
    max-width: auto;
}

.center {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
    width: auto;
    padding: 0 0 0 0;
}

.prev, .next {
    background-color: transparent;
    cursor: pointer;
    padding: 16px;
    color: #B70D2F;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px 5px 5px 5px;
    border: 3px solid #B70D2F;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: #B70D2F;
}

.row2 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
}

.posters {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.WhatsOnButton {
    background-color: transparent;
    cursor: pointer;
    padding: 16px;
    color: #B70D2F;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px 5px 5px 5px;
    border: 3px solid #B70D2F;
    user-select: none;
}

    .WhatsOnButton:hover {
        background-color: rgba(0,0,0,0.8);
        color: #B70D2F;
    }

.nav-logo {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 1px;
    justify-content: left;
}

.col2 {
    flex: 1 0 0%;
    opacity: 1;
}

.col2:hover .image{
    opacity: 0.2;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
    border: 3px solid #B70D2F;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.col2:hover .middle {
    opacity: 1;
}

.text {
    opacity: 1;
    color: #B70D2F;
    font-size: 16px;
    padding: 10px 8px;
}

.image {
    opacity: 1;
    width: 246px;
    height: 350px;
    transition: .5s ease;
}